.person {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.person__img img{
	max-height: 220px;
}
.person__info{

}
.person__name {
	font-size: 36px;
	margin-bottom: 20px;
}
.person__about {
	font-size: 18px;
}
